<!DOCTYPE html>
<html lang="en">
  	<head>
		{% include "styles.html" %}
		<title>BeneTag</title>
	</head>
	
	<body>
		<div class="container">
			
			{% include "navbar.html" %}
			
			
			<div class="row">
			    <p class="logo bottom-padded"> Our mission is to catalog <br><br> the story of your products </p>   
			    <hr class="separator-line">
			</div>
			
			<div class="row top-padded">
				<div class ="span6">
					<p class="product-name bottom-padded">What is BeneTag?</p>
					<p>BeneTag is a new ecosystem where products do not die when they leave the store front- the BeneTag on your
					product takes you to its BeneTag page which tells you more about where the product was made, what went into making it,
					the working conditions it was made in, and for some companies, even something about the person who made it!</p>
				</div>
				<div class="span4 offset1">
				    <p class="section-heading all-padded">Getting Started with BeneTag</p>
					<p class="all-padded"><b>
					"I am a socially conscious consumer. <a href = "/consumertutorial"> How do I use BeneTag to make ethically responsible purchases?"</a>
					<br><br>
					"I am a responsible producer. I am proud of my ethical supply-chain and production practices. <a href="/producertutorial">How do I get BeneTag for my products?"</a>
					</b></p>
				</div>
			</div>
			
			<div class ="row">
                <div class = "span12">
                    <hr class="space">
                    <hr class="top-line spaced">
                    <p class = "footer center"> 
                        Copyright 2012 BeneTag. <br class="visible-phone"> All rights reserved. 
                    </p>
                </div>
            </div>
			
  		</div>
  	</body>
</html>
