<h1 class="bottom-padded" style="text-align:center"><a href="http://www.apolisglobal.com"><img src="http://store.apolisglobal.com/images/site/apolis_logo@2x.png" style="width:106px; height:20px;" alt="Apolis" title="Apolis"></a></h1>
            
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
 
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
 
			<!-- Be sure to leave the brand out there if you want it shown -->
			<a class="brand" href="http://www.apolisglobal.com/"><img id="apolis_logo" src="img/apolis.png" /></a>
 
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				
				<!-- Note that exactly one or zero of the following will be true -->
				{% if signedinconsumer %}
				<ul class="nav">
					<li {% if path == "profile"%} class="active" {% endif %}><a href="/myprofile">MY PROFILE</a></li>
					<li {% if path == "/mycloset"%} class="active" {% endif %}><a href="/mycloset">CLOSET</a></li>
					<li {% if path == "message"%} class="active" {% endif %}><a href="/myinbox">INBOX  {% if hasunread > 0 %}<span class="badge">{{hasunread}}</span>{% endif %}</a></li>
				</ul>
				{% endif %}
				{% if signedinproducer %} 
				<ul class="nav">
					<li {% if path == "profile"%} class="active" {% endif %}><a href="/myprofile">MY PROFILE</a></li>
					<li {% if path == "worker"%} class="active" {% endif %}><a href="/myworkers">WORKERS</a></li>
					<li {% if path == "location"%} class="active" {% endif %}><a href="/mylocations">LOCATIONS</a></li>
					<li {% if path == "product"%} class="active" {% endif %}><a href="/myproducts">PRODUCTS</a></li>
					<li {% if path == "message"%} class="active" {% endif %}><a href="/myoutbox">OUTBOX</a></li>
				</ul>
				{% endif %}

				<!-- Right side elements: edit page, add/rem closet, logout, login -->
				<ul class="nav pull-right">
				<!-- Exactly one of the following ifs will be true -->
				{% if notsignedin %}
					<li> <a href='/signup?producer=True'>Producer sign-in</a></li>
					<li> <a href='/signup?consumer=True'>Consumer sign-in</a></li>
				{% endif %}						
				<!--{% if can_edit %}
					{% if show_qr %}
						<li><a href="{{qr_url}}">Get QR code</a></li>
					{% endif %}
					<li><a href="{{edit_link}}">Edit this page</a></li>
					<li><a href="/logout">Logout</a></li>
				{% endif %}
				{% if in_closet %}
					<li><a href="{{rem_closet_link}}">Remove from closet</a></li>
					<li><a href="/logout">Logout</a></li>
				{% endif %}
				{% if add_closet %}
					<li><a href="{{add_closet_link}}">Add to closet</a></li>
					<li><a href="/logout">Logout</a></li>
				{% endif %}
				{% if not notsignedin and not can_edit and not in_closet and not add_closet %}
					<li><a href="/logout">Logout</a></li>
				{% endif %}-->
				{% if not notsignedin %}
					<li><a href="/logout">Logout</a></li>
				{% endif %}
					<li class="divider-vertical"></li>
					<li> <!-- Search bar is rightmost on all pages -->
						<form class="navbar-search pull-right hidden-phone hidden-tablet" action="/productsearchresult" method="post">
							<input name="query" type="search" class="search-query" autocomplete="off" placeholder="Search">
						</form>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<style TYPE="text/css">
    .navbar {
        color:transparent;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .navbar-search .search-query {
        visibility:hidden;
        width:0px;
        height:0px;
    }

    .navbar .divider-vertical {
        background-color:transparent;
        border-right:transparent;
    }

    .navbar-inner{
        background-color:transparent;
        background-image:-moz-linear-gradient(top, transparent, transparent);
        background-image:-ms-linear-gradient(top, transparent, transparent);
        background-image:-webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(transparent));
        background-image:-webkit-linear-gradient(top, transparent, transparent);
        background-image:-o-linear-gradient(top, transparent, transparent);
        background-image:linear-gradient(top, transparent, transparent);
        background-repeat:repeat-x;
        filter:none;
        -webkit-border-radius:0px;
        -moz-border-radius:0px;
        border-radius:0px;
        -webkit-border-radius:0px;
        -moz-border-radius:0px;
        border-radius:0px;
        -webkit-box-shadow:0px 0px 0px rgba(0, 0, 1, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow:0px 0px 0px rgba(0, 0, 1, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
        box-shadow:0px 0px 0px rgba(0, 0, 1, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);    
    }

    .navbar .nav .active>a {
        font-family:Open Sans;
        color:gray;
        vertical-align:middle;
        margin-top:auto;
        margin-bottom:auto;
        line-height:4em;
        background-color:transparent;
    }
    
    .navbar .nav {
        vertical-align:middle;
        margin-top:auto;
        line-height:4em;
        margin-bottom:auto;
    }
    
    .navbar .nav > li {
        vertical-align:middle;
        margin-top:auto;
        line-height:4em;
        margin-bottom:auto;
    }
    
    div.nav-collapse {
        vertical-align:middle;
        margin-top:auto;
        line-height:4em;
        margin-bottom:auto;
    }

    .navbar .nav .active>a:hover {
        font-family:Open Sans;
        color:#999999;
        line-height:4em;
        vertical-align:middle;
        background-color:transparent;
        margin-top:auto;
        margin-bottom:auto;
    }

    .navbar .nav>li>a {
        font-family:Open Sans;
        color:gray;
        line-height:4em;
        vertical-align:middle;
        background-color:transparent;
        margin-top:auto;
        margin-bottom:auto;
    }

    .navbar .nav>li>a:hover {
        font-family:Open Sans;
        color:#999999;
        vertical-align:middle;
        background-color:transparent;
        margin-top:auto;
        padding-bottom:auto;
        line-height:4em;
    }

    .navbar .nav>li>a:active {
        color:#999999;
        vertical-align:middle;
        background-color:transparent;
        margin-top:auto;
        padding-bottom:auto;
        line-height:4em;
    }
    
    #apolis_logo {
        padding-top:auto;
        padding-bottom:auto;
        height:40px;
        width:40px;
        vertical-align:middle;
    }
</style>