<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "styles.html" %}
		<title>BeneTag</title>
		  
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	  
		<script>
			{% if popupworker %}
				try {
					// This is in case there are two levels of form creation (INCEPTION!!)
					// i.e. in one form, they clicked, create worker, and from there, clicked create location
					window.opener.opener.document.getElementById('removelocationfrompopup').innerHTML = "";
				} catch(err) { }
				try {
					// This is in case there are two levels of form creation (INCEPTION!!)
					// i.e. in one form, they clicked, create worker, and from there, clicked create location
					var old_val = window.opener.opener.document.getElementById('alllocations').innerHTML;
					var new_val = '<li class="ui-state-default" name="{{location.key}}"> \
										<p> \
										{{location.name}} {% if location.unique %} ({{location.unique}}) {% endif %} \
										</p> \
									</li>';
					window.opener.opener.document.getElementById('alllocations').innerHTML = old_val + new_val;
					window.opener.opener.document.getElementById('showfrompopup').setAttribute("class", "");
				} catch(err) { }
				try {
					window.opener.document.getElementById('removelocationfrompopup').innerHTML = "";
				} catch(err) { }
				try {
					var old_val = window.opener.document.getElementById('locationfrompopup').innerHTML;
					var new_val = '	<div class="span2"> \
										<table class="searchtable bottom-padded-small"> \
											<tr> \
												<td class="searchtable img-large"> \
													<ul class="thumbnails"> \
														<li class="searchthumb-large"> \
														<a href="#" class="thumbnail" onclick="setlocation(this, \'{{location.key}}\'); return false;" id=\'location_{{location.key}}\' name=\'location_{{location.key}}\'> \
															<img src="locationimage?id={{location.key}}" /> \
															<p class="center top-padded-small">{{location.name}}</p> \
														</a> \
														</li> \
													</ul> \
												</td> \
											</tr> \
										</table> \
									</div>';
					window.opener.document.getElementById('locationfrompopup').innerHTML = old_val + new_val;
					self.close();
				} catch(err) { }
			{% endif %}
			{% if popupproduct %}
				try {
					window.opener.document.getElementById('removelocationfrompopup').innerHTML = "";
				} catch(err) { }
				try {
					var old_val = window.opener.document.getElementById('alllocations').innerHTML;
					var new_val = '<li class="ui-state-default" name="{{location.key}}"> \
										<p> \
										{{location.name}} {% if location.unique %} ({{location.unique}}) {% endif %} \
										</p> \
									</li>';
					window.opener.document.getElementById('alllocations').innerHTML = old_val + new_val;
					window.opener.document.getElementById('showfrompopup').setAttribute("class", "");
					self.close();
				} catch(err) { }			
			{% endif %}
		</script>
	  
		<script type="text/javascript">
			function initialize() {			
				{% if latitude and longitude %}
					var latlng = new google.maps.LatLng({{latitude}}, {{longitude}});
					var myOptions = {
						zoom: 8,
						center: latlng,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					};
					var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
					document.getElementById("map_canvas").style.position="fixed";
					var marker = new google.maps.Marker({
						position: latlng,
						map: map,
					});
				{% endif %}
			}
		</script>
	</head>
		
	<body onload="initialize()">
	
		<div class="container">
			
			{% include "navbar.html" %}
			
			<hr class="space">
			
			<div class="row">
				<div class="span6">
					<div class="visible-phone">
						<img src="locationimage?id={{location.key}}" class="searchthumb pull-right"></img>
					</div>
					
					<p class="section-heading">Location Details</p>
					
					<p class="product-name">{{ name }}</p>
					<p>Address: {{address}}</p>
					<p class="bottom-padded">Producer: <a href="/viewproducer?id={{producer.key}}">{{producer.name}}</a></p>
										
					{% if can_edit %}
						<div class="bottom-padded">					
							
							<div class="modal hide fade" id="myModal">
								<div class="modal-header">
									<button class="close" data-dismiss="modal">×</button>
									<h3>Delete this entry?</h3>
								</div>
							  	<div class="modal-body">
									<p>Are you sure you want to delete this location? All products and workers linked to this location will be affected.</p>
								</div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal">Close</button>
									<a class="btn btn-danger" href="/deletelocation?id={{id}}"><i class="icon-trash btn-icon icon-white"></i> Delete this location</a>
							  	</div>
							</div>
						
							<a class="btn" href="{{edit_link}}"><i class="icon-edit btn-icon"></i> Edit this location</a>
							<a class="btn btn-danger" data-toggle="modal" href="#myModal"><i class="icon-trash btn-icon icon-white"></i> Delete this location</a>
						
						</div>
					{% endif %}									
					
					{% if location.description %}
						<hr class="top-line spaced">
						<p class="section-heading">About the place</p>
						<p class="info">{{location.description|linebreaksbr}}</p>
					{% endif %}
				</div>
				
				<div class="span6 hidden-phone">
					<img class="pull-right" id="locationimage" src="locationimage?id={{location.key}}" style="width:inherit;"></img>
				</div>	
					
			</div>
			
            <div class="top-padded">
                <hr class="top-line spaced">
            </div>	
			
			<div class="row">
				<div class="span4">
					<p class="section-heading">Products</p>
					<table class="searchtable">
						{% for product in products %}    
						<tr>
						
							<!-- image -->
							<td class="searchtable img">
								<ul class="thumbnails">
									<li class="searchthumb">
									<a href="/view?id={{product.key}}" class="thumbnail">
										<img src="productimage?id={{product.key}}"></img>
									</a>
									<li>
								</ul>
							</td>
							
							<!-- info -->
							<td class="searchtable info">
								 <p class = "search"><a href="/view?id={{product.key}}">{{product.name}}</a></p>
							</td>
						</tr>
						{% empty %}
						<div class="alert">
							Looks like {{producer.name}} hasn't added any products to this location yet. 
						</div>
						{% endfor %}   						
					</table>        
						
					<hr class="separator-line visible-phone">
				</div>
				<div class="span4">
					<p class="section-heading">Workers</p>
					<table class="searchtable">
						{% for worker in workers %}    
						<tr>
						
							<!-- image -->
							<td class="searchtable img">
								<ul class="thumbnails">
									<li class="searchthumb">
									<a href="/viewworker?id={{worker.key}}" class="thumbnail">
										<img src="workerimage?id={{worker.key}}"></img>
									</a>
									<li>
								</ul>
							</td>
							
							<!-- info -->
							<td class="searchtable info">
								 <p class = "search"><a href="/viewworker?id={{worker.key}}">{{worker.name}}</a></p>
							</td>
						</tr>
						{% empty %}
						<div class="alert">
							Looks like {{producer.name}} hasn't added any workers to this location yet. 
						</div>
						{% endfor %}   						
					</table>    
						
					<hr class="separator-line visible-phone">
				</div>
				<div class="span4">
					{% if latitude and longitude %}
						<div id="map_canvas"></div>
					{% endif %}
				</div>
			</div>
			
			{% include "footer.html" %}
			
		</div>
	</body>
</html>
