<!DOCTYPE html>
<html lang="en">
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/fb/benetag#">
    
    	<meta property="fb:app_id"      content="286512274727203" /> 
        <meta property="og:type"        content="website" /> 
        <meta property="og:url"         content="{{url}}" /> 
        <meta property="og:title"       content="{{name}}" /> 
        <meta property="og:description" content="Made by {{producer.name}}" /> 
		<meta property="og:image"       content="{{image_url}}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="icon.png"/>
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="http://jquery-star-rating-plugin.googlecode.com/svn/trunk/jquery.MetaData.js" type="text/javascript" language="javascript"></script>
        <script src="scripts/jquery.rating.js"></script>
        {% include "styles.html" %}
        <title>{{name}} by {{producer.name}} - BeneTag</title>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="//connect.facebook.net/en_US/all.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/jquery.rating.css" />
        <script type="text/javascript">
            function initialize() {                
                FB.init({
                        appId      : '286512274727203', // App ID
                        channelUrl : 'benetag.com/view', // Channel File
                        status     : true, // check login status
                        cookie     : true, // enable cookies to allow the server to access the session
                        oauth      : true, // enable OAuth 2.0
                        xfbml      : true  // parse XFBML
                        });
            }
            
            function fbshare() {
                FB.login(function(response) {
                         if (response.authResponse) {
                         var request = $.ajax({
                                              url: "https://graph.facebook.com/me/benetag:share",
                                              type: "POST",
                                              data: {website : '{{url}}', access_token: response.authResponse.accessToken},
                                              success: function(data) {
                                              },
                                              });
                         }
                         }, {scope : 'publish_actions'});
            }
        </script>	
	
		<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>		
    </head>
    
    
    <body onload="initialize()">
	
        <div class="container">            
            
          	{% include "navbar.html" %}    
            <hr class="space">

            <div class="row">
            	<div class="span6">
					<div class="visible-phone">
						<img src="productimage?id={{product.key}}" class="searchthumb pull-right"></img>
					</div>
					
					<!-- basic product info-->
					<p class="producer-name"><a href="/viewproducer?id={{producer.key}}">{{producer.name}}</a> </p>
					<p class="product-name bottom-padded"> {{ name }} </p>
					
					<div class="bottom-padded">
						<!--buttons-->
						{% if can_edit %}
							<!-- Delete modal -->
							<div class="modal hide fade" id="myModal">
								<div class="modal-header">
									<button class="close" data-dismiss="modal">x</button>
									<h3>Delete this entry?</h3>
								</div>
								<div class="modal-body">
									<p>Are you sure you want to delete this product line? All products linked to it will be affected.</p>
								</div>
								<div class="modal-footer">
									<button class="btn" data-dismiss="modal">Close</button>
									<a class="btn btn-danger" href="/deleteline?id={{id}}"><i class="icon-trash btn-icon icon-white"></i>Delete this line</a>
								</div>
							</div>
							
							<!-- Buttons - edit, message, create new config -->
							<a class="btn "href="{{edit_link}}"><i class="icon-edit btn-icon"></i><span class="hidden-phone"> Edit this page</span></a>
							<a class="btn "href="/producerwritemsg?id={{id}}"><i class="icon-envelope btn-icon"></i><span class="hidden-phone"> Message people who own this</span></a>
							<a class="btn "href="/createconfig?id={{id}}"><i class="icon-plus btn-icon"></i><span class="hidden-phone"> Create new configuration for this line</span></a>
						{% endif %}
						
						<!-- Stats modal -->
						<div class="modal hide fade" id="myModal_stats">
							<div class="modal-header">
								<button class="close" data-dismiss="modal">x</button>
								<h3>Stats for this product</h3>
							</div>
							<div class="modal-body">
								<p>
								<ul>
									<li>There are {{num_products}} of the same product with BeneTags on them </li>
									<li>{{closet_count}} people have this product in their closets. </li>
								</ul>
								</p>
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal">Close</button>
							</div>
						</div>

						<!-- Closet buttons -->
						{% if in_closet %}
							<a class="btn "href="{{rem_closet_link}}"><i class="icon-minus btn-icon"></i> Remove from closet</a>
						{% endif %}
						{% if add_closet %}
							<a class="btn "href="{{add_closet_link}}"><i class="icon-plus btn-icon"></i> Add to closet</a>
						{% endif %}
						
						<!-- Stats button -->
						{% if can_edit %}
							<a class="btn" data-toggle="modal" href="#myModal_stats"><i class="icon-question-sign btn-icon"></i><span class="hidden-phone"> View stats</span></a>
						{% else %}
							<a class="btn" data-toggle="modal" href="#myModal_stats"><i class="icon-question-sign btn-icon"></i> View stats</a>
						{% endif %}
						    
						<!-- Delete button -->
						{% if can_edit %}
							<a class="btn btn-danger" data-toggle="modal" href="#myModal"><i class="icon-trash btn-icon icon-white"></i><span class="hidden-phone"> Delete this line</span></a>
						{% endif %}
						
						<hr class="separator-line">
						
						<!--Detailed product info-->
						<p class="info">{{product.description|linebreaksbr}} </p><br>
						{% if num_configs > 1 %}
							<p class="info">This product is made in {{num_configs}} ways</p>
							<ul>
								{% for config in configs %}
								<li class="big"><a href="/view?id={{config.key}}">{{config.config_name}}</a></li>
								{% endfor %}
							</ul>
						{% endif %}
						
					</div>
				</div>
				<div class="span6 hidden-phone">
					<img class="pull-right" src="/productimage?id={{product.key}}" style="width:inherit;"></img>
				</div>
			</div>
			
			<div class="top-padded">
				<hr class="top-line spaced">
			</div>
			
			<!-- social row - desktop -->
			<div class="row hidden-phone">
				<div class="span12">
					<div class="bottom-padded">
						<center>
						<div class="btn-group">
							<div class="fb-like" data-send="true" data-layout="button_count" data-width="inherit" data-show-faces="true"></div>
							<a href="https://twitter.com/share" class="twitter-share-button" data-size="small" data-hashtags="BeneTag">Tweet</a>
							<g:plusone size="medium" annotation="bubble"></g:plusone>
							<a href="http://pinterest.com/pin/create/button/?url={{url}} &media={{image_url}}&description=Made by {{producer.name}}" class="pin-it-button" count-layout="horizontal"><img class="social-button" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
						</div>	
						</center>
						<hr class="separator-line">
					</div>
				</div>
			</div>	
			<!-- social row - mobile -->
			<div class="row visible-phone">
				<div class="span12">
					<div class="bottom-padded">
						<div class="btn-group">
							<div class="fb-like social-row" data-send="true" data-layout="button_count" data-width="inherit" data-show-faces="true"></div>
							<div class="social-row"><a href="https://twitter.com/share" class="twitter-share-button" data-size="small" data-hashtags="BeneTag">Tweet</a></div>
							<div class="social-row"><g:plusone size="medium" annotation="bubble"></g:plusone></div>
							<div class="social-row"><a href="http://pinterest.com/pin/create/button/?url={{url}} &media={{image_url}}&description=Made by {{producer.name}}" class="pin-it-button" count-layout="horizontal"><img class="social-button" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></div>
						</div>	
						<hr class="separator-line">
					</div>
				</div>
			</div>	
			
			<div class="row">
				<div class="span12">
					
					<!-- Facebook comments -->
					<div id="fb-root">
						<script>(function(d, s, id) {
							  var js, fjs = d.getElementsByTagName(s)[0];
							  if (d.getElementById(id)) return;
							  js = d.createElement(s); js.id = id;
							  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
							  fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
						</script>
						<center>
					    <div class="fb-comments" data-href="{{comment_url}}" data-num-posts="20" data-width="inherit"></div>	
						</center>
					</div>
					
				</div>
			</div>
			
			
			
			<!--<div class="row">
				<p class = "comments-link"> 59 reviews > </p>
				<hr class="separator-line">
			</div>-->
			
			
			{% include "footer.html" %}
			
		</div>
    
    </body>
</html>
x